* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 200%;
}
body{
    background-color: rgb(41, 57, 60);
}
header {
    display: flex;
    background-color: rgb(41, 57, 60); 
    width: 100%; 
    height: 70px; 
    padding: 0;
    justify-content: center;
}
.container{
    position: relative;
    margin: 0%;
}
.container img{
    object-fit: cover; 
    display: block;
    width: 100%;
    height: 100vh;
}
.img_começo{
    width: 100%;         
    height: 100%;        
    object-fit: cover;
    border-top: 10px;
    border-style: solid;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(106,160,137);
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

.logo{
    object-fit: cover;
    position:absolute;
    width: 70px;
    top: 3px;
    left: 50px;

}
.menu {
    display: flex;
    list-style: none;
    gap: 150px;
    
}

.menu li {
    display: inline;
    width: 80px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.texto{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
}
.HTYD{
    font-size: 20px;
    color: white;
}
.htyd1{
    font-size: 50px;
    color: rgb(178,38,34);
}
.bemvindo{
    color: white;
    margin: 0%;
    border: 5px;
    border-color: blueviolet;
    border-style: solid;
    width: 100%;
    display: block;
}

.berk{
    position: relative;
    left: 100px;
}

CONTATO
.pessoa1{
    color: rgb(237, 237, 237);
    margin: 25px;
    padding: 20px;
    background-color: rgb(106,160,137);
    border-radius: 20px;
}

.pessoa2{
    color: rgb(237, 237, 237);
    margin: 25px;
    padding: 20px;
    background-color: rgb(106,160,137);
    border-radius: 20px;
}

.falenos{
    background-color: rgb(106,160,137);
    margin: 60px 60px 60px 120px;
    block-size: 100px;
    width: 450px;
    height: 150px;
    padding: 35px;
    float: left;
    border-radius: 20px;
}

form label, input, textarea{
    border: rgb(237, 237, 237) 1px solid;
    color: rgb(178,38,34);
    padding: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}

#Numero{
    width: 365px;
}
#e-mail{
    width: 375px;
}
#text-area{
    width: 900px;
}

.comentario{
    background-color: rgb(106,160,137);
    margin: 60px 100px 60px 60px;
    padding: 35px;
    float: right;
    width: 900px;
    border-radius: 20px;
}


LIVROS
.Livro{
    display: flex;
}

.img_livro{
    float: left;
    height: 400px;
    width: auto;
    margin: 50px;
}

#info1{
    display: none;
    height: 165px;
    position: absolute;
    top: 448px;
    left: 184px;
    transform: translate(-50%, -50%);
    background-color: rgb(237, 237, 237, 0.4);
    color: rgb(41, 57, 60);
    padding: 14px;
    text-align: center;
    font-size: 16px;
}

#img1:hover #info1{
    display: block;
}
