@font-face {
    font-family: IrishFont;
    src: url(IrishGrover-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 130%;
}
body{
    background-color: rgb(41, 57, 60);
}
header {
    display: flex;
    background-color: rgb(41, 57, 60); 
    width: 100%; 
    height: 70px; 
    padding: 0;
    justify-content: center;
    border-bottom: 10px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(106,160,137);
}

/*INICIO*/
.container{
    position: relative;
    margin: 0%;
}
.container img{
    object-fit: cover; 
    display: block;
    width: 100%;
    height: 88vh;
}
.img_começo{
    width: 100%;         
    height: 80%;        
    object-fit: cover;
   
}

.navini{
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
}

.logo{
    object-fit: cover;
    position:absolute;
    width: 70px;
    top: 3px;
    left: 50px;

}
.menu {
    display: flex;
    list-style: none;
    gap: 150px;
    
}

.menu li a {
    display: inline;
    width: 80px;
    font-family: IrishFont;
    font-size: 30px;
}


.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.texto{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
}
.HTYD h2{
    font-size: 30px;
    color: white;
    font-family: IrishFont;
}
.htyd1 h1{
    font-size: 100px;
    color: rgb(178,38,34);
    font-family: IrishFont;
}
.bemvindo{
    color: white;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bemvindo h1{
    font-family: IrishFont;
    font-size: 20px;
}

.texto-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
}
.berk{
    position: relative;
    width: 50%;
    left: 50%;

}
.titulo1{
    position: relative;
    right: 105vh;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    
}
.titulo1 h1{
    font-family: IrishFont;
   
}
.p1{
    position: relative;
    right: 780px;
    top: 5px;
    margin-left: 170px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.amizade-coragem{
    color: white;
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto2-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.amizade{
    position: relative;
    width: 50%;
    
}
.titulo2{
    font-size: 20px;
    margin-right: 280px;
    margin-bottom: 10px;
    font-family: IrishFont;
    white-space: nowrap;
}
.p2{
    text-align: left;
    margin-top: 5px;
    margin-left:100px ;
    margin-right: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo3 {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: IrishFont;
}

.personagens {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 20px;               
    margin: 0 auto;          
    max-width: 900px;   
    gap: 20px;    
}

.img {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: flex-end; 
    width: 200px;   
             
}

.picture1, .picture {
    width: 200px;           
    height: 200px;          
    border-radius: 15px;
    object-fit: cover;  
    background-color: rgb(244,225,182);    
    transition: transform 0.3s ease; 
}
.picture:hover{
    transform: scale(1.05);
}
.picture1:hover{
    transform: scale(1.05);
}
.name {
    margin-top: 10px;        
    color: white;            
    font-size: 16px;        
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*FILMES */
.movie{
    height: 10%;
    width: 200px;  
    margin-left: 150px;
    margin-bottom: 100px;
}
.franquia{
    margin-bottom: 20px;
    font-family: IrishFont;
    font-size: 40px;
}
.movie-texto{
    flex-direction: column;
    color: white;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
   
}
.filme{
    color: white;
    display: flex;
    margin-top: 100px;
}
.t1, .movie-p1{
    flex-direction: column;
    text-align: left;
    margin-left: 50%;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    
}

.movie-p1{
    background-color: rgb(106,160,137);
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    display: block;
    display: flex;
}

.t1{
    margin-left:100px;
    font-family: IrishFont;
    font-size: 25px;
}

.t2, .movie-p2{
    flex-direction: column;
    text-align: left;
    margin-left: 50%;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
}

/*GALERIA */ 
.galeria-imagens{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: IrishFont;

}
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    align-items: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(106,160,137);
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* SIX columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* FIVE columns side by side */
/* .column {
    float: left;
    width: 20%;
} */

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 100%  !important;
    height: 150px !important; 
    gap: 0%;   
    object-fit: cover;
}

.active,
.demo:hover {
    opacity: 1;
}

/*CONTATO*/
.pessoa{ 
    margin: 90px 90px 90px 90px;
}

#backpessoal{
    background-color: rgb(106,160,137);
    color: rgb(237, 237, 237);
    width: 900px;
    border-radius: 20px;
    padding: 20px;
    margin: 50px;
}

#carol{
    margin: 0px 30px 0px 0px;
    height: 300px;
    width: auto;
    float: right;
    
}

#interativo{
    display: flex;
    clear: right;
}

.falenos{
    background-color: rgb(106,160,137);
    margin: 50px 50px 0px 80px;
    block-size: 100px;
    width: 350px;
    height: 165px;
    padding: 28px;
    float: left;
    border-radius: 20px;
}

form label, input, textarea{
    border: rgb(237, 237, 237) 1px solid;
    color: rgb(178,38,34);
    padding: 10px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
}

#Numero{
    width: 265px;
}
#e-mail{
    width: 275px;
}
#text-area{
    width: 735px;
}

.comentario{
    background-color: rgb(106,160,137);
    margin: 50px 50px 60px 60px;
    padding: 35px;
    float: right;
    width: 735px;
    border-radius: 20px;
}

/*LIVROS*/
#livropara{
    color: rgb(237, 237, 237);
    margin: 10px 60px 10px 60px;
}
#livropara h1{
    font-family: IrishFont;
}
#livropara h4{
    background-color: rgb(106,160,137);
    border-radius: 20px;
    padding: 15px;
    margin: 8px;
}
#paraesquerda{
    font-family: IrishFont;
    text-align: right;
}

#img1{
    background-image: url(imagens/HTTYD_\(book_cover_1\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img2{
    background-image: url(imagens/HTTYD_\(book_cover_2\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img3{
    background-image: url(imagens/HTTYD_\(book_cover_3\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img4{
    background-image: url(imagens/HTTYD_\(book_cover_4\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img5{
    background-image: url(imagens/HTTYD_\(book_cover_5\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img6{
    background-image: url(imagens/HTTYD_\(book_cover_6\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img7{
    background-image: url(imagens/HTTYD_\(book_cover_7\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img8{
    background-image: url(imagens/HTTYD_\(book_cover_8\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img9{
    background-image: url(imagens/HTTYD_\(book_cover_9\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img10{
    background-image: url(imagens/HTTYD_\(book_cover_10\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img11{
    background-image: url(imagens/HTTYD_\(book_cover_11\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}
#img12{
    background-image: url(imagens/HTTYD_\(book_cover_12\).jpg);
    background-size: cover;
    float: left;
    height: 380px;
    width: 254;
    margin: 70px 20px 0px 70px;
}

#img1:hover{
    background-image: url(imagens/HTTYD_\(book_info_1\).png);
    background-size: cover;
}
#img2:hover{
    background-image: url(imagens/HTTYD_\(book_info_2\).png);
    background-size: cover;
}
#img3:hover{
    background-image: url(imagens/HTTYD_\(book_info_3\).png);
    background-size: cover;
}
#img4:hover{
    background-image: url(imagens/HTTYD_\(book_info_4\).png);
    background-size: cover;
}
#img5:hover{
    background-image: url(imagens/HTTYD_\(book_info_5\).png);
    background-size: cover;
}
#img6:hover{
    background-image: url(imagens/HTTYD_\(book_info_6\).png);
    background-size: cover;
}
#img7:hover{
    background-image: url(imagens/HTTYD_\(book_info_7\).png);
    background-size: cover;
}
#img8:hover{
    background-image: url(imagens/HTTYD_\(book_info_8\).png);
    background-size: cover;
}
#img9:hover{
    background-image: url(imagens/HTTYD_\(book_info_9\).png);
    background-size: cover;
}
#img10:hover{
    background-image: url(imagens/HTTYD_\(book_info_10\).png);
    background-size: cover;
}
#img11:hover{
    background-image: url(imagens/HTTYD_\(book_info_11\).png);
    background-size: cover;
}
#img12:hover{
    background-image: url(imagens/HTTYD_\(book_info_12\).png);
    background-size: cover;
}

